.login-container {
  background-color: #ffdbf0;
  height: 100vh;
  width: 100vw;
  .login-title {
    padding: 2%;
    text-align: center;
    color: #000;
    font-family: Roboto;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  .login-body {
    display: flex;
    justify-content: center;
  }
  .login-submit {
    text-align: center;
    Button {
      border-radius: 50px;
      background: #777;
      width: 300px;
      height: 50px;
      color: #fff;
      font-family: Roboto;
      font-size: 20px;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
    }
  }
}
